<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('appcss') }}
        {% endblock %}
    </head>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <a class="logo" href="{{ path('index') }}"><img class="logo" src="{{ asset('pictures/logowild.png') }}" alt="logo"></a>
                <a class="navbar-brand" href="#"><strong>Wild Circus   </strong>Adoption</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">ADOPTION<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PROCHAINS LIEUX</a>
                    </li>
                    <li><a class="nav-link" target="_blank" href="#">
                            <img class="pictosNav" src="{{ asset('pictures/fb.png') }}" alt="facebook"></a></li>
                    <li><a class="nav-link" href="#">
                            <img class="pictosNav" src="{{ asset('pictures/send.png') }}" alt="contactez-nous"></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}


        <!-- Footer -->
        <footer class="page-footer font-small special-color-black pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <form class="form-inline">
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                                   aria-label="Search">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </form>
                    </div>

                    <div class="col-md-6 mb-4">
                        <form class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Your email"
                                   aria-label="Your email" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
        </footer>
        <!-- Footer -->

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
